extends layout

block content
    h1= title
    p Welcome to #{title}
    for item in sex
        select(id="#{item}" name="#{item}", placeholder="#{item}")
            for name in repeation[item]
                option(selected=selected[item] == name value="#{name}") #{name}